<div class="holiday">
 <p>Description: <%= holiday.description%> </br>Date: <%= holiday.holiday_date %></br>
 <%= link_to "Edit", edit_holiday_path(holiday.id) %> 
 <%= link_to "Destroy", holiday_path(holiday.id), :confirm => "Do you want to delete '#{holiday.description}'?", :method => :delete %>
 </p>

</div>