
<div class="block">
  <h3>Actions</h3>
  <ul class="navigation">
    <li><%= link_to 'Add a New Client', new_client_path %></li>
    <li><%= link_to 'Add a New Holiday', new_holiday_path %></li>
  </ul>
</div>